/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/style.scss */
body {
  font: 1.5em Helvetica, sans-serif;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

/* line 24, ../sass/style.scss */
#container {
  width: 80%;
}

/* line 28, ../sass/style.scss */
#latest {
  /* Masonry container */
  column-count: 2;
  column-gap: 1em;
}

/* line 33, ../sass/style.scss */
.grid-item {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 0.5em;
  width: 100%;
}

/* line 39, ../sass/style.scss */
#content {
  width: 100%;
}

/* line 43, ../sass/style.scss */
#header {
  width: 100%;
  padding: 1em;
  color: #fff;
}
/* line 48, ../sass/style.scss */
#header #title {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}
/* line 55, ../sass/style.scss */
#header #subtitle {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

/* line 63, ../sass/style.scss */
.category-block {
  padding: 1em;
}
/* line 66, ../sass/style.scss */
.category-block .info {
  background-color: #fff;
  padding: 0.5em;
  text-align: center;
  color: #8da56b;
  font-size: 4em;
}
/* line 73, ../sass/style.scss */
.category-block .name {
  background-color: #8da56b;
  color: #fff;
  padding: 0.8em;
  text-align: center;
  font-size: 0.8em;
}

/* line 82, ../sass/style.scss */
.loading {
  text-align: center;
  font-size: 10em;
}

/* line 89, ../sass/style.scss */
.document-block .meta {
  background-color: #fff;
  padding: 0.8em;
  color: #445127;
}
/* line 95, ../sass/style.scss */
.document-block .info {
  color: #445127;
  font-size: 0.8em;
}

/* line 101, ../sass/style.scss */
.image {
  max-width: 100%;
}

/* line 105, ../sass/style.scss */
#gallery {
  text-align: center;
}

/* line 109, ../sass/style.scss */
.download {
  font-size: 3em;
  text-align: center;
  color: #8da56b;
}
/* line 115, ../sass/style.scss */
.download a {
  color: #8da56b;
}
/* line 118, ../sass/style.scss */
.download a :hover {
  color: #445127;
}

/* line 125, ../sass/style.scss */
.white a {
  color: #fff;
}

/* line 130, ../sass/style.scss */
#home {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}
/* line 134, ../sass/style.scss */
#home a {
  color: #fff;
}

/* line 139, ../sass/style.scss */
#return {
  font-size: 5em;
  text-align: center;
}
/* line 143, ../sass/style.scss */
#return a {
  color: #fff;
}
/* line 146, ../sass/style.scss */
#return a :hover {
  color: #8da56b;
}

/* line 152, ../sass/style.scss */
.video-info {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 2em;
  color: #445127;
}
/* line 158, ../sass/style.scss */
.video-info h1 {
  color: #8da56b;
}

/* line 163, ../sass/style.scss */
.music-info {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 2em;
  color: #445127;
}
/* line 169, ../sass/style.scss */
.music-info h1 {
  color: #8da56b;
}
