<div class="col-xs-12 col-centered" ng-if="!loading">

  <div class="col-xs-6 col-md-4 category-block">
    <a ng-href="#/latest">
      <div class="info">
        <i class="fa fa-star"></i>
      </div>
      <div class="name">
        Latest
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-4 category-block" ng-repeat="cat in categories">
    <a ng-href="#/{{cat}}">
    <div class="info">
      <i class="fa fa-newspaper-o" ng-if="cat == 'Document'"></i>
      <i class="fa fa-music" ng-if="cat == 'Music'"></i>
      <i class="fa fa-film" ng-if="cat == 'Video'"></i>
      <i class="fa fa-image" ng-if="cat == 'Image'"></i>
      <i class="fa fa-gamepad" ng-if="cat == 'App'"></i>
    </div>
    <div class="name">
      {{cat}}
    </div>
    </a>
  </div>
</div>

<div class="col-xs-12 col-centered loading" ng-if="loading">
  <i class="fa fa-spinner fa-pulse"></i>
</div>
