<div class="col-xs-12 col-centered" ng-if="!loading">


  <div class="col-xs-12 grid-item" ng-repeat="v in videos">
    <video width="100%" controls>
      <source ng-src="{{v.S3URI}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="video-info">
      <h1>{{v.Title}}</h1>
      {{v.Description}}

      <div class="download">
        <a  ng-click="dlCountService(v.UID, v.S3URI)"><i class="fa fa-download"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-centered loading" ng-if="loading">
  <i class="fa fa-spinner fa-pulse"></i>
</div>


<div class="row" id="return" ng-if="!loading">
  <a href="../../#/"><i class="fa fa-reply"></i></a>
</div>
